# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Andrey\YandexDisk\Polytech\Informatics\GIT\Classes\Cpp\class_2021_02_03\Ex_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
